/******通用开始*******/
#wrap{display:block;width:100%;max-width:16rem; margin:0 auto;position:relative; overflow: hidden; font-family: "\5FAE\8F6F\96C5\9ED1", Arial, Helvetica, sans-serif;}
.clr:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clr{zoom:1;}
.fl {float: left;}
.fr {float: right;}
.disLine {display: inline-block;}
.vt {vertical-align: text-top;}
.vb {vertical-align: text-bottom;}
.vm {vertical-align: middle;}
.mgAuto {margin: 0 auto;}
.center {text-align: center;}

/*间距*/
.mg5 {margin: .25rem}
.ml5 {margin-left: .25rem;}
.mt5 {margin-top: .25rem;}
.mr5 {margin-right: .25rem;}
.mb5 {margin-bottom: .25rem;}

.mg10 {margin: .5rem}
.ml10 {margin-left: .5rem;}
.mt10 {margin-top: .5rem;}
.mr10 {margin-right: .5rem;}
.mb10 {margin-bottom: .5rem;}

.mg15 {margin: .75rem}
.ml15 {margin-left: .75rem;}
.mt15 {margin-top: .75rem;}
.mr15 {margin-right: .75rem;}
.mb15 {margin-bottom: .75rem;}

.pd5 {padding: .25rem;}
.pl5 {padding-left: .25rem;}
.pt5 {padding-top: .25rem;}
.pr5 {padding-right: .25rem;}
.pb5 {padding-bottom: .25rem;}

.pd10 {padding: .5rem}
.pl10 {padding-left: .5rem;}
.pt10 {padding-top: .5rem;}
.pr10 {padding-right: .5rem;}
.pb10 {padding-bottom: .5rem;}

.pd20 {padding: 1rem}
.pl20 {padding-left: 1rem;}
.pt20 {padding-top: 1rem;}
.pr20 {padding-right: 1rem;}
.pb20 {padding-bottom: 1rem;}

.pd15 {padding: .75rem}
.pl15 {padding-left: .75rem;}
.pt15 {padding-top: .75rem;}
.pr15 {padding-right: .75rem;}
.pb15 {padding-bottom: .75rem;}

/*字体颜色*/
.blue {color: #007aff}
.orange {color: #ff6600}
.grey999 {color: #999 !important}
.grey666 {color: #666}
.black {color: #272727 !important}
.grey777 {color: #777}
.grey333 {color: #333}
.newblue {color: #37a3ff}
.white {color: #fff;}
.red {color: #d00c36}
.green {color: #06bd03}
.greyaaa {color: #aaa}

/*字体*/
.font4 {font-size: .4rem;}
.font5 {font-size: .5rem;}
.font6 {font-size: .6rem;}
.font7 {font-size: .7rem}
.font75 {font-size: .75rem;}
.font8 {font-size: .8rem;}
.font9 {font-size: .9rem}
.font10 {font-size: 1rem}
.font16 {font-size: .9rem;display: inline-block;vertical-align: top}

/*图标*/
.icon_date {width: .75rem;height: .8rem;background: url(../images/icon_3.png) no-repeat;background-size: 100%}
.icon_data {width: .75rem;height: .75rem;background: url(../images/icon_1.png) no-repeat;background-size: 100%}
.icon_ticket {width: .75rem;height: .75rem;background: url(../images/icon_5.png) no-repeat;background-size: 100%}
.icon_money {width: .75rem;height: .75rem;background: url(../images/icon_2.png) no-repeat;background-size: 100%}
.icon_record {width: .75rem;height: .6rem;background: url(../images/icon_4.png) no-repeat;background-size: 100%}
.icon_yes {width: 2.1rem;height: 2.075rem;background: url(../images/yes_l.png) no-repeat;background-size: 100%}
.icon_yes1 {width: 1rem;height: 1rem;background: url(../images/yes_l.png) no-repeat;background-size: 100%}

/*btn*/
.btn {line-height: 1.5rem;-webkit-border-radius: 5px;border-radius: 5px;color: #d00c36;text-align: center;font-size: .9rem;margin-top: 2rem; border: 2px solid #000;width: 9rem;margin: 0 auto}

/*******通用结束*******/
.top {padding: .375rem 0; background: #ebebeb;text-align: center;font-size: .6rem;color: #706f6f}
.talklist ul {display: block;margin-left: .5rem;}
.talklist li {position: relative;padding: .5rem .875rem .375rem 1.7rem;border-bottom: 1px solid #ddd;display: block;}
.talklist li:last-child {border-bottom: 0;}
.talklist li img {display: block;position: absolute;top: .5rem;left: 0; width: 1.4rem;height: 1.4rem;-webkit-border-radius: 50%;border-radius: 50%;}
.loading {line-height: 2rem;color: #999;font-size: .6rem; text-align: center;margin-bottom: 3rem;}
.talkNow {display: block;position: fixed;left: 50%;bottom: 0;line-height: 2.2rem;background: #f5f5f5;width: 16rem;margin-left: -8rem;z-index: 1; text-align: center;}
.talkNow input {display: inline-block;height: 1.5rem;line-height: 1.5rem;border: 1px solid #999;-webkit-border-radius: 15px;border-radius: 15px;font-size: .6rem;color: #666;width: 13rem;padding: 0 1rem;background: transparent;}
.tle {height: 2.2rem;}
.tle img {width: 1.8rem;height: 1.8rem;-webkit-border-radius: 50%;border-radius: 50%;}
.ico_store {display: inline-block;width: .8rem;height: .7rem;background: url(../images/store.png) no-repeat center center;background-size: 120%;vertical-align: text-bottom;}
.ico_man {display: inline-block;width: .55rem;height: .55rem;background: url(../images/man.jpg) no-repeat center center;background-size: 100%;vertical-align: middle;}
.zi {display: inline-block;padding:0 .1rem;background: #a09bb8;color: #fff;font-size: .5rem;margin-top: .15rem;}
.orange {display: inline-block;padding:0 .1rem;background: #d7a276;color: #fff;font-size: .5rem;margin-top: .1rem;}
.mark {width: 2.2rem; padding-left: .5rem; line-height: 1.2rem;background:url(../images/jia.png) no-repeat left .5rem center #33333f;color: #fff;background-size: .3rem; text-align: center;font-size: .5rem;-webkit-border-radius: 5px;border-radius: 5px;overflow: hidden;}
.swiper-pagination-bullet {border-radius: 0 !important; background: #fff !important;opacity: 1 !important;}
.swiper-pagination-bullet-active {background: #33333f !important}
/*.tag {padding:.3rem .5rem 0 .5rem;background: #eee;border-bottom: 1px solid #e1dede;}*/
.tag span {display: inline-block;line-height: .9rem;padding: 0 .5rem;margin-right: .3rem; margin-bottom: .25rem; background: #fff;border: 1px solid #999;font-size: .5rem;color: #666;-webkit-border-radius: 15px;border-radius: 15px}
.ico_xin {display: inline-block;width: .75rem;height: .75rem;background: url(../images/xin.png) no-repeat;background-size: 100%;vertical-align: middle;}
.ico_star {display: inline-block;width: .75rem;height: .75rem;background: url(../images/icon_favite.jpg) no-repeat center center;background-size: 100%;vertical-align: text-top;margin-top: -.1rem;}
.bb {border-bottom: 1px solid #ccc;}
.talk_list li {border-top: 1px solid #ccc; border-bottom: none !important;}
.talk_list li:first-child {border-top: none;}
.code {width: 5rem;height: 5rem;margin: 1rem auto}
.btm {width: 10.275rem;height: .975rem;margin: .5rem auto; background: url(../images/bottom.jpg) no-repeat;background-size: 100%}
.layer {display: block}
.mask {display: block;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.7);z-index: 9998}
.download {width: 12.5rem;height: 8.45rem;background: url(../images/download.png) no-repeat; z-index: 9999; background-size: 100%;position: fixed;display: block;top: 50%;left: 50%;margin: -4.225rem 0 0 -6.25rem}
.download span {display: block;position: absolute;width: 1.75rem;height: 1.75rem;top: 0;right: 0;}
.download a {display: block;position: absolute;width: 7.375rem;height: 1.95rem;bottom: 1.3rem;left: 2.8rem;}
.line {line-height: 1rem}
.line1 {line-height: 1.2rem}
.txt_rt {text-align: justify;}
.mb {margin-bottom: .15rem;}
.bb1 {border-bottom: 1px solid #ddd;}

.popup {
    border-radius: 85px;
    height: 85px;
    width: 85px;
    background: #e71a6e;
    line-height: 85px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.buyBtn {line-height: .9rem;padding: 0 .5rem; background: #fff;border: 1px solid #999;font-size: .5rem;color: #666;-webkit-border-radius: 15px;border-radius: 15px}